* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

html {
	height: 100vh;
	background-color: #a3b18a;
}

.App {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}

.Toolbar {
	width: 100%;
	background: #344e41;
	color: #e6e4dd;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}
.Previewer-container .Toolbar {
	width: 100%;
}

.Icon {
	margin: 3px 10px 0px 5px;
	font-size: 1.2rem;
}

.Editor-container {
	width: 600px;
}

.Editor {
	resize: vertical;
	min-height: 100px;
	width: 100%;
	height: 200px;
	background-color: #dad7cd;
	font-size: 0.875rem;
	outline: none;
	margin-bottom: -5px;
	padding: 5px;
}

.Editor::placeholder {
	color: #121a16;
}

.Previewer-container {
	width: 800px;
	height: auto;
	margin-top: 30px;
}

.Preview {
	background-color: #dad7cd;
}

.Editor-container,
.Previewer-container {
	border: 1px solid #121a16;
	box-shadow: 1px 1px 10px 2px #1b2721;
	border-top: none;
}

.heading {
	color: #e6e4dd;
	text-shadow: 2px 2px 2px #344e41;
}

.Toolbar div span {
	position: relative;
	bottom: 2.75px;
	letter-spacing: 1px;
}

.Previewer-container .Toolbar div span {
	position: relative;
	bottom: 3.6px;
	letter-spacing: 1px;
}

#preview {
	padding: 0.5rem 1rem;
}
#preview blockquote {
	border-left: 3px solid #224b4b;
	color: #224b4b;
	padding-left: 5px;
	margin-left: 25px;
}
#preview > p > code {
	padding: 3px;
}
#preview code {
	background: white;
	font-size: 0.875rem;
	font-weight: bold;
}
#preview pre {
	display: block;
	overflow: auto;
	background: white;
	padding: 5px;
	line-height: 1.2;
}
#preview h1 {
	border-bottom: 2px solid #224b4b;
}
#preview h2 {
	border-bottom: 1px solid #224b4b;
}
#preview table {
	border-collapse: collapse;
}
#preview td,
#preview th {
	border: 2px solid #224b4b;
	padding-left: 5px;
	padding-right: 5px;
}
#preview img {
	display: block;
	max-width: 90%;
	margin: 2rem auto;
}

@media screen and (max-width: 850px) {
	.Previewer-container {
		max-width: 630px;
	}

	.Editor-container {
		max-width: 550px;
	}
}

@media screen and (max-width: 650px) {
	body {
		margin: 5px 0;
	}

	.Editor-container {
		width: 80vw;
		margin: 0 auto;
	}
	.Previewer-container {
		width: 90vw;
	}
}
